<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>CRM_Tab.Balance_enquiry_tests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>e_VerifyEnquiry</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>d_Enquire_Balance</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>c_EnterMSISDN</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>a_View_BalanceEnquiryTab</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>b_Click_BalanceEnquiryTab</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>start</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>stop</td>
<td>&nbsp;</td></tr>
</table>
