<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c386c8">  <td>20/02/06 13:44:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Balance_enquiry_tests.a_View_BalanceEnquiryTab()[pri:0, instance:CRM_Tab.Balance_enquiry_tests@7714e963]">a_View_BalanceEnquiryTab</td> 
  <td>main@2114444063</td>   <td></td> </tr>
<tr bgcolor="c386c8">  <td>20/02/06 13:44:58</td>   <td>278</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Balance_enquiry_tests.b_Click_BalanceEnquiryTab()[pri:0, instance:CRM_Tab.Balance_enquiry_tests@7714e963]">b_Click_BalanceEnquiryTab</td> 
  <td>main@2114444063</td>   <td></td> </tr>
<tr bgcolor="c386c8">  <td>20/02/06 13:44:58</td>   <td>439</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Balance_enquiry_tests.c_EnterMSISDN()[pri:0, instance:CRM_Tab.Balance_enquiry_tests@7714e963]">c_EnterMSISDN</td> 
  <td>main@2114444063</td>   <td></td> </tr>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c386c8">  <td>20/02/06 13:44:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Balance_enquiry_tests.a_View_BalanceEnquiryTab()[pri:0, instance:CRM_Tab.Balance_enquiry_tests@7714e963]">a_View_BalanceEnquiryTab</td> 
  <td>main@2114444063</td>   <td></td> </tr>
<tr bgcolor="c386c8">  <td>20/02/06 13:44:58</td>   <td>474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Balance_enquiry_tests.d_Enquire_Balance()[pri:0, instance:CRM_Tab.Balance_enquiry_tests@7714e963]">d_Enquire_Balance</td> 
  <td>main@2114444063</td>   <td></td> </tr>
<tr bgcolor="c386c8">  <td>20/02/06 13:44:58</td>   <td>268</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Balance_enquiry_tests.b_Click_BalanceEnquiryTab()[pri:0, instance:CRM_Tab.Balance_enquiry_tests@7714e963]">b_Click_BalanceEnquiryTab</td> 
  <td>main@2114444063</td>   <td></td> </tr>
<tr bgcolor="c386c8">  <td>20/02/06 13:44:59</td>   <td>2004</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Balance_enquiry_tests.e_VerifyEnquiry()[pri:0, instance:CRM_Tab.Balance_enquiry_tests@7714e963]">e_VerifyEnquiry</td> 
  <td>main@2114444063</td>   <td></td> </tr>
<tr bgcolor="c386c8">  <td>20/02/06 13:44:50</td>   <td>-7053</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Balance_enquiry_tests.start()[pri:0, instance:CRM_Tab.Balance_enquiry_tests@7714e963]">&gt;&gt;start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114444063</td>   <td></td> </tr>
<tr bgcolor="c386c8">  <td>20/02/06 13:44:58</td>   <td>444</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Balance_enquiry_tests.c_EnterMSISDN()[pri:0, instance:CRM_Tab.Balance_enquiry_tests@7714e963]">c_EnterMSISDN</td> 
  <td>main@2114444063</td>   <td></td> </tr>
<tr bgcolor="c386c8">  <td>20/02/06 13:45:00</td>   <td>2837</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Balance_enquiry_tests.stop()[pri:0, instance:CRM_Tab.Balance_enquiry_tests@7714e963]">&lt;&lt;stop</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114444063</td>   <td></td> </tr>
<tr bgcolor="c386c8">  <td>20/02/06 13:44:58</td>   <td>476</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Balance_enquiry_tests.d_Enquire_Balance()[pri:0, instance:CRM_Tab.Balance_enquiry_tests@7714e963]">d_Enquire_Balance</td> 
  <td>main@2114444063</td>   <td></td> </tr>
</table>
<tr bgcolor="c386c8">  <td>20/02/06 13:44:59</td>   <td>1989</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Balance_enquiry_tests.e_VerifyEnquiry()[pri:0, instance:CRM_Tab.Balance_enquiry_tests@7714e963]">e_VerifyEnquiry</td> 
  <td>main@2114444063</td>   <td></td> </tr>
<tr bgcolor="c386c8">  <td>20/02/06 13:44:49</td>   <td>-7902</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Balance_enquiry_tests.start()[pri:0, instance:CRM_Tab.Balance_enquiry_tests@7714e963]">&gt;&gt;start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114444063</td>   <td></td> </tr>
<tr bgcolor="c386c8">  <td>20/02/06 13:45:00</td>   <td>2811</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Balance_enquiry_tests.stop()[pri:0, instance:CRM_Tab.Balance_enquiry_tests@7714e963]">&lt;&lt;stop</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114444063</td>   <td></td> </tr>
</table>
